.navigation {
  font-size: 30px;

  &__left {
    grid-column-start: 1;
    opacity: .1;
  }

  &__left-arrow,
  &__right-arrow,
  &__center {
    display: grid;
    justify-content: center;
  }

  &__left-arrow {
    grid-column-start: 2;
  }

  &__left-arrow:hover, &__right-arrow:hover {
    -webkit-text-fill-color: $darkblue;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $white;
    cursor: pointer;
  }

  &__center {
    grid-column-start: 3;
  }

  &__right-arrow {
    grid-column-start: 4;
  }

  &__right {
    grid-column-start: 5;
    opacity: .1;
    text-align: right;
  }
}