.project {
  box-shadow: 3px 3px 5px 6px $lightgrey;
  margin-bottom: 5px;

  &__info-container {
    display: grid;
    grid-template-columns: 50% 20% 30%;
    margin-bottom: 5px;
  }

  &__description {
    grid-column-start: 1;
    padding: 5px;
  }

  &__tech {
    grid-column-start: 2;
    padding: 5px;
  }

  &__tech-list {
    list-style-type: circle;
  }

  &__screenshot {
    grid-column-start: 3;
  }

  &__title {
    color: $darkblue;
    font-family: 'ArchivoBlack', sans-serif;
    padding-top: 5px;
    text-align: center;
  }

  &__link-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  &__link-github {
    background: $black;
  }

  &__link-heroku {
    background-color: $herokupurple;
  }

  &__link-github,
  &__link-heroku {
    align-items: center;
    color: $white;
    display: grid;
    justify-content: center;
  }
}
