.contact {

  &__container {
    border: 1px solid $grey;
    border-radius: 5px;
    box-shadow: -1px -1px 1px $white, 1px 2px 1px $grey;
    color: $darkblue;
    display: grid;
    grid-template-columns: 20% 20% auto;
    margin-top: 10px;
    padding: 5px;
    text-decoration: none;
  }

  &__container:hover {
    background-color: $darkblue;
    color: $white;
  }

  &__image {
    grid-column-start: 1;
  }

  &__name {
    align-items: center;
    display: grid;
    font: 40px 'ArchivoBlack';
    font-weight: bold;
    grid-column-start: 2;
    text-shadow: -1px -1px 1px $white, 1px 1px 1px $black;
  }
}