.main-container {
  background-color: $white;
  border: 8px solid $darkblue;
  margin: 0 auto;
  min-height: 95vh;
  width: 900px;
}

.divide-container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.half-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.navigation-container {
  background-image: radial-gradient(transparent, $darkerblue);
  display: grid;
  font-family: 'ArchivoBlack', sans-serif;
  font-size: 30px;
  grid-template-columns: 20% 25% 10% 25% 20%;
  padding: 5px;
  -webkit-text-fill-color: $white;
  -webkit-text-stroke-color: $darkerblue;
  -webkit-text-stroke-width: 2px;
}

.content-section {
  padding: 10px;
}

.header-title {
  color: $darkblue;
  text-align: center;
}
