.main-container {
  background-color: $white;
  margin: 0 auto;
  min-height: 600px;
  width: 900px;
}

.sub-container {
  padding: 10px;
}

.divide-container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.half-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.navigation-container {
  box-shadow: inset 50px 0 15px -4px $white, inset -50px 0 15px -4px $white;
  display: grid;
  font-size: 30px;
  grid-template-columns: 30% 15% 10% 15% 30%;
}