.siteLogo {
	width: 50px;
	padding-right: 10px;
}

.pBlock {
	width: 97%;
	border: 10px ridge #d0d0d0;
	margin: 1rem;
}

.proj-link {
	border-bottom: 3px solid #d0d0d0;
	border-right: 3px solid #d0d0d0;
	margin: 2px;
}

.proj-link:hover {
	cursor: pointer;
	background: linear-gradient(to bottom, white, #d0d0d0);
	border: 3px solid #d0d0d0;
	border-top: none;
}

.site-link {
	color: black;
}

.site-link:hover {
	text-decoration: none;
	color: black;
}