.lBlock {
	text-align: center;
	font-family: 'Cinzel', serif;
}

.lb-btn {
	width: 100%;
	background: white;
	border: 2px solid #d0d0d0;
	border-top: none;
	font-size: 1.5rem;
}

.lb-btn:hover {
	background: linear-gradient(to bottom, white, #d0d0d0);
	font-weight: 700;
}

.lb-btn:focus {
	box-shadow: 0 0 0 0.2rem #d0d0d0;
}