.navigation {
  font-size: 30px;

  &__left {
    // background-image: linear-gradient(45deg, $black, transparent);
    grid-column-start: 1;
    opacity: .1;
  }

  &__left-arrow,
  &__right-arrow,
  &__center {
    display: grid;
    justify-content: center;
  }

  &__left-arrow {
    grid-column-start: 2;
  }

  &__left-arrow:hover, &__right-arrow:hover {
    cursor: pointer;
  }

  &__center {
    grid-column-start: 3;
  }

  &__right-arrow {
    grid-column-start: 4;
  }

  &__right {
    // background-image: linear-gradient(-45deg, $black, transparent);
    grid-column-start: 5;
    opacity: .1;
    text-align: right;
  }
}