@font-face {
  font-family: 'ArchivoBlack';
  font-style: normal;
  src: url('../../fonts/ArchivoBlack/ArchivoBlack-Regular.eot');
  src: url('../../fonts/ArchivoBlack/ArchivoBlack-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ArchivoBlack/ArchivoBlack-Regular.woff2') format('woff2'),
    url('../../fonts/ArchivoBlack/ArchivoBlack-Regular.woff') format('woff'),
    url('../../fonts/ArchivoBlack/ArchivoBlack-Regular.ttf') format('truetype'),
    url('../../fonts/ArchivoBlack/ArchivoBlack-Regular.svg#ArchivoBlack-Regular') format('svg');
}
